

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bg-cuisine {
    
    background:linear-gradient(0deg, rgba(0 0 0 / 80%), rgba(0 0 0 / 80%)), url(../img/header.jpg);
    height: 500px;
    background-size: cover;
    background-position: center ;
    background: linear-gradient(100deg, rgba(86, 86, 0, 0));
    
     
    
    
    
    
}


.head {
    height: 70px;
    background: #41404083;
    border-bottom: 1px solid #333;
    
}
 h1 {
    color: #fff;
    font-size: 19px;
    float: left;
    padding: 5px;
    font-family: 'courgette', cursive;
}
nav ul {
    padding: 5px;
    list-style: none;
}
 nav li {
     font-size: 20px;
     float: right;
     color: #fff;
     margin: 10px;
     font-family: 'courgette', cursive;
 }
header h2 {
    position: absolute;
    top: 30%;
    border: none;
    color: #fff !important;
    /* background: #16161611; */
    font-size: 40px;
    width: 100%;
    text-align: center !important;
    opacity: 1;
      
    font-family: 'courgette', cursive;
} 

header img {
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 70%;
    position: absolute;
    top: 18%;
    left: 46%;
}

#head-main {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.contact h2 {
    font-family: cursive;
}
.contact p {
    font-size: 26px;
    margin: 5px 0 0 80px;
    font-family: cursive;
}

.contact address {
    margin: 10px 0 0 80px;
    font-family: cursive;
    
}
.main-3 h3 {
    font-size: 17px;
    font-family: 'courgette', cursive;
    font-weight: 600;
}

.main-3 input {
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
}
.main-3 button {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
}

.main-head {
    float: right;
    margin-right: 263px;
   
} 
.main-head h3 {
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
}
.main-head input {
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
}

.main-head button {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
    font-size: 19px;
    font-weight: bold;
}



.side-bar {
    position: absolute;
    top: 100%;
    left: 70%;
}

.side-bar a i {
    padding: 5px;
    color: #333;
}

.map iframe {
    margin-left: 220px;
    padding: 20px;
}





footer {
    background: #000;
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    
}

 .para-1  {
    color: white;
    margin-top: 110px;
    font-family: cursive;  
        
} 
.para-1 li {
    list-style-type: none;
    
}
.para-1 a {
    color: white;

}

.para-1 h3 {
    font-size: 18px;
}
 
.para-2 h3 {
    font-size: 18px;
    
}

.para-2 li  {
    list-style-type: none;
    
}
.para-2 a {
    color: white;

}

.para-2 {
    margin-top: 110px;
    color: white;
    font-family: cursive;
}
.para-3 {
    margin-top: 110px;
}

.para-3 h3 {
    color: white;
    font-family: cursive;
    font-size: 18px;

}



.para-4 a i {
    padding: 5px;
    color: white;
}



.para-4 h6 {
    color: white;
    padding-top: 5px;
}


.foot-2 input {
    width: 140px;
    padding: 4px;
    border-radius: 5px;
}
.foot-2 button {
    background: #000;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: cursive;
    
}

